<%- include("./layouts/header.ejs") %>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
    <!-- Topbar Start -->
    <%- include("./layouts/navbar.ejs") %>
    <!-- Topbar End -->


    <!-- Navbar Start -->
  
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3"> Shop </h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
          

            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <% if(typeof cataId !== "undefined"){ %>
                                <% if(typeof sort !== "undefined"){  %>
                                    
                            <form action="/search-product?cataId=<%- cataId %>&sort=<%- sort %>" method="post">
                                <% } else {  %>
                                    <form action="/search-product?cataId=<%- cataId %>" method="post">
  
                                    <% } %>
                                <div class="input-group">
                                    <% if(typeof search !== 'undefined'){ %>
                                        <input type="text" value="<%- search %>" name="search" class="form-control" placeholder="Search by name">
                                        <% }else{ %>
                                    <input type="text" name="search" class="form-control" placeholder="Search by name">
                                    <% } %>
                                    <div class="input-group-append">
                                       <button  style="border: none;" type="submit"> 
                                         <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                      <% if(typeof search !== 'undefined'){ %>
                                     <button>  <a href="/shop">clear</a> </button>
                                        <% } %>
                                      
                                    </div>
                                </div>
                            </form>
                            <% } else {  %>
                                <% if(typeof sort !== "undefined"){  %>
                                    
                                    <form action="/search-product?sort=<%- sort %>" method="post">
                                        <% }else { %>
                                <form action="/search-product" method="post">
                                    <% } %>
                                    <div class="input-group">
                                        <% if(typeof search !== 'undefined'){ %>
                                            <input type="text" value="<%- search %>" name="search" class="form-control" placeholder="Search by name">
                                            <% }else{ %>
                                        <input type="text" name="search" class="form-control" placeholder="Search by name">
                                        <% } %>
                                        <div class="input-group-append">
                                           <button  style="border: none;" type="submit"> 
                                             <span class="input-group-text bg-transparent text-primary">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </button>
                                          <% if(typeof search !== 'undefined'){ %>
                                         <button>  <a href="/shop">clear</a> </button>
                                            <% } %>
                                          
                                        </div>
                                    </div>
                                </form>

                                <% } %>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <% if(typeof search !== "undefined" && typeof cataId == "undefined"){ %>
                                    <a class="dropdown-item" href="/sort-product/lowtohigh?search=<%- search %>">low to high</a>
                                    <a class="dropdown-item" href="/sort-product/hightolow?search=<%- search %>">high to low</a>
                                    <% } else if(typeof cataId !== "undefined" && typeof search == "undefined" ) {  %>
                                        <a class="dropdown-item" href="/sort-product/lowtohigh?cataId=<%- cataId %>">low to high</a>
                                    <a class="dropdown-item" href="/sort-product/hightolow?cataId=<%- cataId %>">high to low</a>
                                    <% }else if(typeof cataId !== "undefined" && typeof search !== "undefined") {  %>
                                        <a class="dropdown-item" href="/sort-product/lowtohigh?cataId=<%- cataId %>&search=<%- search %>">low to high</a>
                                    <a class="dropdown-item" href="/sort-product/hightolow?cataId=<%- cataId %>&search=<%- search %>">high to low</a>
                                    <% } else {  %>
                                        <a class="dropdown-item" href="/sort-product/lowtohigh">low to high</a>
                                        <a class="dropdown-item" href="/sort-product/hightolow">high to low</a> 
                                        <% } %>
                                    <!-- <a class="dropdown-item" href="#">Best Rating</a> -->
                                </div>
                            </div>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Filter
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <% if(typeof search !== "undefined"){ %>
                                    <% cata.forEach((x)=>{  %>
                                    <a class="dropdown-item" href="/sort-catagory/<%- x._id %>/<%- search %>"><%- x.catagory_name %></a>
                                    <% }) %>
                                    <% }else{ %>
                                        <% cata.forEach((x)=>{  %>
                                            <% const a  = "null" %>
                                        <a class="dropdown-item" href="/sort-catagory/<%- x._id %>/<%- a %>"><%- x.catagory_name %></a>
                                        <% }) %>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <% data.forEach((datas)=>{ %>

                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="/products/<%- datas.image[0] %>" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3"><%- datas.productname %></h6>
                                <div class="d-flex justify-content-center">
                                    <h6>₹<%- datas.price %>.00</h6><h6 class="text-muted ml-2"><del>₹ <%- datas.price+500 %>.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/view-detail/<%- datas._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a onclick="addCart('<%- datas._id %>')" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>

                    <% }) %>

                    
       
              


                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <% if(typeof page !== 'undefined'){ %>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <% if (page > 1) { %>
                            <a class="page-link" href="/shop?page=<%= page - 1 %>" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <% } %>
                          </li> 
    
                          <% for (let i = 1; i <= totalPages; i++) { %>
                             <% if (i === page) { %>
                               <li class="page-link text-danger"><%= i %></li>
                             <% } else { %>
                                <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
                                <% } %>
                          <% } %>
    
                          <li class="page-item">
                            <% if (page < totalPages) { %>
                            <a class="page-link" href="/shop?page=<%= page + 1 %>" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                            <% } %>
                          </li>
                        </ul>
                      </nav>
            <% } %>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <script>
        function addCart(id){
            
         $.ajax({
              url : "/add-to-cart/"+id ,
            success: (response)=>{
             if(response.success){
                  Swal.fire({
           title: 'Added to Cart!',
           text: 'Your product Added to cart',
           icon: 'success',
           showConfirmButton: false
          })
             }else{
                 Swal.fire({
           title: 'item already exist in cart !',
           text: 'Your product not Added to cart',
           icon: 'warning',
           showConfirmButton: false
          })
             }
            }
         })
      
         }
     </script>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <%- include("./layouts/footer.ejs") %>