<%- include("../layouts/header.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>

    <!-- Topbar Start -->
    <%- include("../layouts/navbar.ejs") %>
    <!-- Topbar End -->


    <!-- Navbar Start -->
  
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <% if(typeof data[0] !== 'undefined'){ %> 
            <h1 class="font-weight-semi-bold text-uppercase mb-3"> <%- data[0].catagory.catagory_name %> </h1>
            <% } %>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
          
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-12">
                <div class="row pb-3">
                   
               
                    <% data.forEach((data)=>{ %>

                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="/products/<%- data.image[0] %>" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3"><%- data.productname %></h6>
                                <div class="d-flex justify-content-center">
                                    <h6>₹<%- data.price %>.00</h6><h6 class="text-muted ml-2"><del>₹ <%- data.price+500 %>.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/view-detail/<%- data._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a  onclick=" addCart('<%- data._id %>')" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>

                    <% }) %>

                    
       



                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



    <script>
        function addCart(id){
         $.ajax({
              url : "/add-to-cart/"+id ,
            success: (response)=>{
             if(response.success){
                  Swal.fire({
           title: 'Added to Cart!',
           text: 'Your product Added to cart',
           icon: 'success',
           showConfirmButton: false
          })
             }else{
                 Swal.fire({
           title: 'item already exist in cart !',
           text: 'Your product not Added to cart',
           icon: 'warning',
           showConfirmButton: false
          })
             }
            }
         })
      
         }
     </script>
 






    <%- include("../layouts/footer.ejs") %>